:root {
  --white: #fff;
  --dark: #191c1f;
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586ff;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}
.title-header {
  font-size: 32px;
  line-height: 111.111111%; /* 40/36 */
  text-transform: uppercase;
  font-weight: 700;
  color: var(--light-white);
}
.title {
  font-size: 30px;
  line-height: 111.111111%; /* 40/36 */
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-yellow);
}
.label {
  font-size: 16px;
  line-height: 125%; /* 20/16 */
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-green);
}
@media (max-width: 479.98px) {
  .title {
    font-size: 28px;
    line-height: 111.111111%; /* 40/36 */
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-yellow);
    text-align: center;
  }
  .label {
    font-size: 16px;
    line-height: 125%; /* 20/16 */
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light-green);
    text-align: center;
  }
}
@media (min-width: 768.98px) {
  .chapters__hr {
    max-width: 500px;
    margin: 0 auto;
    border: none;
    height: 0.0125rem;
    background-color: var(--light-white);
    padding-bottom: 1px;
  }
}
@media (max-width: 767.98px) {
  .chapters__hr {
    max-width: 200px;
    margin: 0 auto;
    border: none;
    height: 0.0125rem;
    background-color: var(--light-white);
    padding-bottom: 1px;
  }
}

@media (min-width: 768.98px) {
  .send__button_mobile {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .send__button_mobile {
    background-color: var(--dark);
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 125%; /* 20/16 */
    transition: background-color 0.3s;
    border: 1px solid #0000000e;
  }
  .send__button_mobile:hover {
    background-color: var(--dark-yellow);
  }
}
@media (min-width: 768.98px) {
  .send__button_pc {
    background-color: var(--dark);
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 125%; /* 20/16 */
    transition: background-color 0.3s;
    border: 1px solid #0000000e;
  }
  .send__button_pc:hover {
    background-color: var(--dark-yellow);
  }
}
@media (max-width: 767.98px) {
  .send__button_pc {
    display: none;
  }
}
.inactive {
  opacity: 0.3;
}
.inactive:hover {
  opacity: 0.3;
}
.menu__link.inactive:hover::after {
  width: 0;
  left: 0;
}
.inactive__img {
  opacity: 0.3;
}
/* hidden chapters label */
.chapters-label {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.chapters-label:hover {
    color: var(--dark-yellow);
    transition: color 0.8s ease;
}
@media (max-width: 991.98px) {
  .chapters-label {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .chapters-label:hover {
    color: var(--dark-yellow);
    transition: color 0.8s ease;
}
}
@media (max-width: 767.98px) {
  .chapters-label {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .chapters-label {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}
/* hidden chapters label */
/* next step */
.next__step {
  padding: 60px 20px 0px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%; /* 20/16 */
  text-transform: uppercase;
  text-align: center;
  color: var(--light-green);
}
.next__step a {
  font-size: 16px;
  color: var(--dark-yellow);
}
.next__step a:hover {
text-decoration: underline;
}
@media (max-width: 479.98px) {
.next__step {
  padding: 30px 30px 0px 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 125%; /* 20/16 */
  text-transform: uppercase;
  text-align: center;
  color: var(--light-green);
}
.next__step a {
  font-size: 14px;
  color: var(--dark-yellow);
  text-decoration: underline;
}
}
/* next step */
